resources/pipeline/RetriveMetaData.json
{
	"name": "RetriveMetaData",
	"properties": {
		"activities": [
			{
				"name": "LookupMetaData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\n     b.[ObjectName]\n    ,FolderName = b.[ObjectValue]\n    ,SQLTable   = s.[ObjectValue]\n    ,Delimiter  = d.[ObjectValue]\nFROM [dbo].[Metadata_ADF] b\nJOIN [dbo].[Metadata_ADF] s ON b.[ObjectName] = s.[ObjectName]\nJOIN [dbo].[Metadata_ADF] d ON b.[ObjectName] = d.[ObjectName]\nWHERE   b.[SourceType] = 'BlobContainer'\n    AND s.[SourceType] = 'SQLTable'\n    AND d.[SourceType] = 'Delimiter';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataSetSQLMoviesDynamic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Metadata_ADF",
							"DatabaseName": "db-project-5599"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopOverMetaData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMetaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMetaData').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyDataBlobToSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE dbo.@{item().SQLTable}",
										"type": "Expression"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DataSetCSVMoviesDynamic",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@{item().FolderName}",
											"type": "Expression"
										},
										"DelimiterSymbol": {
											"value": "@{item().Delimiter}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataSetSQLMoviesDynamic",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().SQLTable}",
											"type": "Expression"
										},
										"DatabaseName": "db-project-5599"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}